# Certaines variables de base_scraping_sample.csv apportent des données numériques, simplement à des fins de data visualization.
# scraping.csv (fichier final) ne sera pas partagé sur GitHub pour des raisons de confidentialité liées au projet.
