# Certaines variables de base_scraping_sample.csv apportent simplement des donnees numeriques a des fins de modelisation
# base_scraping.csv ne sera pas uploadé sur GitHub à toutes fins de confidentialité. Nos sources finales de scraping ne seront pas précisées sur GitHub.
